---
# tasks file for consul

- name: Include distribution specific variables
  include_vars: "{{ ansible_distribution }}.yml"
  tags: consul

- include: CentOS.yml
  when: ansible_distribution == "CentOS"
  tags: consul

- include: Ubuntu.yml
  when: ansible_distribution == "Ubuntu"
  tags: consul

- name: Create Consul group
  group: name={{ consul_group }} system=yes state=present
  tags: consul

- name: Create Consul user
  user: >
    name={{ consul_user }}
    shell=/bin/false
    createhome=no
    group={{ consul_group }}
    system=yes
    state=present
  tags: consul

- name: Download Consul
  get_url: >
    url={{ consul_url }}
    dest={{ consul_download_dir }}/consul.zip
    sha256sum={{ consul_sha256sum }}
  tags: consul

- name: Unzip Consul to installation directory
  command: unzip {{ consul_download_dir }}/consul.zip -d {{ consul_install_dir }}
  args:
    creates: "{{ consul_install_dir }}/consul"
  tags: consul

- name: Create Consul configuration directory
  file: >
    path={{ consul_config_dir }}
    owner=root
    group=root
    mode=0755
    state=directory
  tags: consul

- name: Create Consul upstart configuration
  template: >
    src=consul.conf.j2
    dest=/etc/init/consul.conf
    owner=root
    group=root
    mode=0644
  notify: restart consul
  tags: consul

- name: Create Consul configuration file
  template: >
    src=consul.json.j2
    dest={{ consul_config_dir }}/consul.json
    owner=root
    group=root
    mode=0644
  notify: reload consul
  tags: consul

- name: Create Consul services configuration file
  template: >
    src=services.json.j2
    dest={{ consul_config_dir }}/services.json
    owner=root
    group=root
    mode=0644
  notify: reload consul
  tags: consul

- name: Create Consul checks configuration file
  template: >
    src=checks.json.j2
    dest={{ consul_config_dir }}/checks.json
    owner=root
    group=root
    mode=0644
  notify: reload consul
  tags: consul

- include: webui.yml
  when: consul_webui
  tags:
    - consul
    - consul-webui

- name: Ensure Consul service is started and enabled on boot
  service: name={{ consul_service_name }} state=started enabled=yes
  tags: consul
